<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PKEY</key>
	<string>974e6573ca016407c58293c3d9f4fa1c</string>
	<key>MD5HASH</key>
	<string>3f1d3977aaafaed601fe8ad9cf5d44ac</string>
</dict>
</plist>
